.link__social:hover {
  border-radius: 5px;
  color: #2d3142;
  background-color: #f8f9faff;
  transition: all .5s ease-in-out;
  box-shadow: 0px 0px 20px #f8f9faff;
}

.__gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.gride {
  padding: 20px;
  background-color: #f8f9faff;
  color: #2d3142;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}