@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlackMustang';
  src: local('BlackMustang'), url(../../assets/fonts/Black\ Mustang.ttf) format('truetype');
}

body {
  background-color: #252422;
}