@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlackMustang';
  src: local('BlackMustang'), url(../../assets/fonts/Black\ Mustang.ttf) format('truetype');
}

body {
  background-color: #1a1a1a;
  background-image: url("./assets/imgs/bg.png");
  background-size: cover;
  background-attachment: fixed;
}